/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: PYTHON3_PREPARE_MANHATTAN_PLOT_INPUT{
        ext.args = 'collect' + " " + params.n_perm
    }
    withName: PROCESS_PERM{
        ext.args = 'estimate' + " " + params.n_perm
    }
    withName: PLINK2_VCF{
        ext.args   = "--double-id --make-bed --chr-set "+ params.num_autosomes
    }
    withName: PYTHON3_MANHATTAN_PLOT{
        ext.args = '50000 LRT_values'
    }
    /*
    withName: BCFTOOLS_VIEW {
        ext.args1 = "${params.include_samples}" != "none" ? ["-S","${params.include_samples}"].join(' ') : ' '
        ext.args2 = "${params.exclude_samples}" != "none" ? ["-S", "^${params.exclude_samples}"].join(' ') : ' '
        ext.args3 = "${params.maf}" >= 0 ? ["-q","${params.maf}:minor"].join(' ') : ' '
        ext.args = ext.args1 + " "+ext.args2 +" "+ ext.args3
    }
    withName: CREATEHAPLO_RECORD {
        publishDir = [
            path: { "${params.outdir}/createhaplo/record/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    */

}
